<div class="row">
  <h1 class="titulo"><u>Experiencia laboral</u></h1>

  <img src="../../../assets/icono de manasia.jpeg" id="Manasia" />

  <ul>
    <h2 class="subtitulo1">
      Manasia casa de te <br />
      (Seis meses)
    </h2>
    <br />
    <p class="texto1">
      Labores que realize:

      <br />-Atencion al cliente: los clientes ingresaban y me pedian porciones
      de torta y masas finas, tambien entregaba los pedidos tomados.
      <br />-Ayudante en mosa: atendía y mostraba la carta al cliente, también
      llevava los pedidos a la mesa.
    </p>
  </ul>
  <br />
  <br />
  <br />
  <br />
  <ul>
    <h2 class="subtitulo2">
      Buenos Sabores cafe y bar <br />
      (Un mes)
    </h2>

    <img src="../../../assets/icono de buenossabores.jpeg" id="BuenosS" />

    <p class="texto2">
      Labores que realize: -Ayudante de cocina ( preparaba merienda y cena).
    </p>
  </ul>
</div>
