.row {
  padding: 20px;
}
div {
  background-image: url(../../../assets/fondodepagina2.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px;
}
footer {
  color: aliceblue;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  text-align: center;
  box-shadow: 2px -2px 5px #c2ffbf;
}
