<div class="row">
  <h1 class="titulo"><u>Proyectos Realizados</u></h1>
  <div class="contenedor">
    <div class="col-sm-12 col-md-7 parte1">
      <h2 class="subttitulo">Portfolio Web</h2>
      <p class="texto">
        -Fecha de realización:12/9/22 <br />
        Este es mi primer proyecto aca podran ver como realize cada apartado con
        sus etiquetas y clases, encontraran informacion personal mia y
        descripcion de labores que realize.
      </p>
    </div>
    <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
      <img src="../../../assets/portfolio.png" alt="" class="img-proyecto" />
    </div>
  </div>
</div>
