<div class="row">
  <h1 class="Teducacion"><u>Educacion</u></h1>
  <img src="../../../assets/primaria1.jpeg" id="primaria1" />
  <ul>
    <h2 class="texto">Estudio primario</h2>

    <p class="infodescuela1">
      <br />Escuela instituto Don Orione (Buenos Aires). <br />
      ⭑Iniciado: 2009
    </p>

    <p class="infodescuela2">
      <br />Escuela Nicolas Berrotaran (Cordoba capital). <br />
      ⭑Finalizado:2013
    </p>
  </ul>
  <img src="../../../assets/primaria2.jpeg" id="primaria2" />

  <ul>
    <br />
    <br />
    <br />
    <br />
    <br />
    <h2 class="titulosecu">Estudio secundario</h2>
    <img src="../../../assets/fotosecundaria.jpeg" id="secundaria" />
    <p class="infosecu">
      <br />IPEM 144 - Mariano Moreno (Cordoba Rio Ceballos). <br />
      ⭑Empezado:2014 <br />
      ⭑Finalizado:2020
    </p>
  </ul>

  <ul>
    <h2 class="tcur"><u>Cursos</u></h2>
    <ul class="cur">
      <p>
        -Curso de emprender (dirigido por el programa de Coca Cola).
        <br />
        -Curso de programacion (dirigo por Argentina Programa).
        <br />
        -Curso de mi primer trabajo(dirigido por el programa de Coca Cola).
        <br />
        -Curso de ingles (dirigido por la universidad popular de Rio Ceballos).
        -Curso de testing (dirigo por el programa de Coca Cola). -Curso de
        ingles (dirigido por Argentina programa 4.0 CUI).
        <br />
        -Curso de programacion (dirigido por la universidad popular de Rio
        Ceballos).
        <br />
        -Taller de teatro (dirigido por la Beba teatro).
      </p>
    </ul>
  </ul>
</div>
