<div class="row">
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <img
      src="../../../assets/foto de perfil.jpg"
      class="img-fluid"
      id="fotodeperfil"
    />
  </div>

  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <p id="nombre"><b> Florencia Carolina Andrada Valentini</b></p>
    <p id="profesion"><b> Full Stack Developer Jr</b></p>
  </div>
  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <br />

    <span>
      <h1 id="titulo"><u>Acerca de mi</u></h1>
      <P id="informacionp">
        Soy una persona que le gusta aprender mucho más de lo que sabe, una cosa
        que me caracterizan es aprender las cosas muy rápidas, me gusta crecer
        mis conocimientos para trabajar de la mejor manera ya sea en equipos o
        sola, tengo una buena comunicación cuando hablamos de trabajo en grupo,
        siempre estare dispuesta en escuchar y aprender a arreglar mis
        errores.</P
      >
    </span>
  </div>
</div>
